* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;

}

aside {
    padding: 1rem;
    background-color: red;
    flex-basis: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;

}

section {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 1rem
}

.profile {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 348px;

}


aside .profile img:nth-child(1) {
    width: 12em;
    height: 12em;
    border: 2px solid greenyellow;
    border-radius: 100%;
}

aside ol {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;


    width: 348px;
    padding: 1rem;


}

aside ol li {
    line-height: o;
    display: flex;

    justify-content: flex-start;
    gap: 1rem;


}

aside ol img {
    width: 1rem;
    height: 1rem;
}

#tech ol {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;




}

#tech ol li button {

    background-color: yellow;
    height: 24px;
    width: 86px;
    gap: 1rem;
    border: none;
    border-radius: 50px;
}

[id="exp"] ol li:nth-of-type(1),
[id="exp"] ol li:nth-of-type(4),
[id="exp"] ol li:nth-of-type(8),
[id="exp"] ol li:nth-of-type(10),

[id="educa"] ol li:nth-of-type(1),
[id="educa"] ol li:nth-of-type(4),
[id="educa"] ol li:nth-of-type(7),
[id="educa"] ol li:nth-of-type(10) {
    font-size: large;
    font-weight: bold;
    background-color: brown;
}


[id="exp"] ol li:nth-of-type(1)::before,
[id="exp"] ol li:nth-of-type(4)::before,
[id="exp"] ol li:nth-of-type(8)::before,
[id="exp"] ol li:nth-of-type(10)::before,

[id="educa"] ol li:nth-of-type(1)::before,
[id="educa"] ol li:nth-of-type(4)::before,
[id="educa"] ol li:nth-of-type(7)::before,
[id="educa"] ol li:nth-of-type(10)::before {
    content: "*";
}






main {
    border-radius: 20px;
    padding: 1rem;
    flex: 1;
    background-color: rebeccapurple;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#projects {
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

#projects header {
 
    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#projects header h2:nth-child(1) {

    flex: 1;
}

.project-card {
    padding: 1rem;
    border-radius: 10px;
    background-color: blanchedalmond;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card .top {
    display: flex;
    gap: 1rem;
    background-color: azure;
}

.footer-card{
    display: flex;
    gap:1rem
    
}
.footer-card button{
    width: 4rem;
    border-style: none;
    background-color: transparent;
    
    align-items: center;
    justify-content: center;
}
.footer-card button img{
    width: 1rem;
    height: 1rem;
}

.footer-card button:nth-child(3){
    flex: 1;
}