:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --bd-shadow: #1E1E2a;
    --var-gap:4rem;
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 1rem;
    background-color: var(--body-bg-color);
    color: var(--text-color);


}


aside {   
    /* flex-basis: 7%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 20px;

}

 aside section {
    background-color: var(--bg-cards);
    box-shadow: 4px 4px 1px var( --bd-shadow);
    border-radius: 2rem;
    padding: 1rem
}

.profile {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-cards);
    border-radius: 2rem;
    width: 348px;
    
}


aside .profile img:nth-child(1) {
    width: 12em;
    height: 12em;
   
    border: 2px solid rgb(193, 47, 255);
    border-radius: 100%;
    margin-bottom: 1rem;
}

aside ol {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    background-color: var(--bg-cards);   
    width: 348px;
    padding: 1rem;
}

 section ol:nth-child(1) li{
   height: 3rem;
 }


aside ol li {
    display: flex;
    justify-content: flex-start;
    height: 2rem;
    gap: 1rem;
}

#aside ol li{
    height: 3rem;
}

aside ol img {
    width: 1rem;
    height: 1rem;
    /* alterar cor do SVG */
    filter: invert(56%) sepia(29%) saturate(308%) hue-rotate(209deg) brightness(86%) contrast(89%);   
    
}

#tech ol {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#tech ol li  {
    color:black;
    font-weight: 800;
    font-size: 12px;
    background-color:var(--bg-techs);
    height: 24px;
    line-height: 24px;
    width: 86px;
    gap: 10px;
    border: none;
    border-radius: 50px;
    display: flex;   
    justify-content: center;
}

[id="exp"] ol li:nth-of-type(1),
[id="exp"] ol li:nth-of-type(4),
[id="exp"] ol li:nth-of-type(7),
[id="exp"] ol li:nth-of-type(10),

[id="educa"] ol li:nth-of-type(1),
[id="educa"] ol li:nth-of-type(4),
[id="educa"] ol li:nth-of-type(7),
[id="educa"] ol li:nth-of-type(10) {
    font-size: large;
    font-weight: bold;   
}


[id="exp"] ol li:nth-of-type(1)::before,
[id="exp"] ol li:nth-of-type(4)::before,
[id="exp"] ol li:nth-of-type(7)::before,
[id="exp"] ol li:nth-of-type(10)::before,

[id="educa"] ol li:nth-of-type(1)::before,
[id="educa"] ol li:nth-of-type(4)::before,
[id="educa"] ol li:nth-of-type(7)::before,
[id="educa"] ol li:nth-of-type(10)::before {
    content: "*";
}






main {
    border-radius: 20px;
    height: auto;
    flex:1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}



 header {
    padding: 0 1rem  0 1rem ;
    display: flex;
    justify-content: flex-start;
    background-color: var(--bg-cards);
    box-shadow: 4px 4px 1px var( --bd-shadow);
    margin-bottom:1rem;
    align-items: center;
    height: 4rem;
    border-radius: 1rem;
    font-weight: 500;
}


#projects>header h2:nth-child(1) {
    flex: 1;
}

.card-container {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   row-gap: 1rem;
    justify-content:space-between;   
}
.project-card{
    height: auto;
    width:45%;    
    padding: 1rem;
    border-radius: 10px;     
    display: flex;   
    flex-direction: column;
    gap: 1rem;
} 


.project-card,
.post-card,
ol li{
    cursor: pointer;
    transition: all 2000ms;
}
.project-card,
.post-card {
    cursor: pointer;
    background-color: var(--bg-cards);
    box-shadow: 4px 4px 1px var( --bd-shadow);
}


.project-card  img{
    filter: invert(56%) sepia(29%) saturate(308%) hue-rotate(209deg) brightness(86%) contrast(89%);    
}

.project-card .top {
    display: flex;
    gap: 1rem;
    font-weight: 700;
}

.post-card {
   
    display: flex;
    gap: 1rem;
    border-radius: 18px;
    background-color: var(--bg-cards);
    align-items: center;
    margin-bottom:1rem;
    padding-left:1rem;
  
}

.card-main {
    padding: 1rem;
    margin-bottom:1rem; 
   
}

.card-main ol {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.card-main p {
    height: 2rem;
}

.card-main p:nth-child(3) {
    font-weight: bolder;
}

.card-main ol li {
    display: flex;
    line-height: 0;
    justify-content: center;
    align-items: center; 
}

.card-main ol li::before {
    content: "#";
}

ol li:hover{
    color:white
}
.project-card:hover{
    box-shadow:  4px 4px 1px var( --text-color);
    color:rgb(132, 127, 127)    
}


.footer-card {
    margin-top: auto;
    display: flex;    
    gap: 1rem;
}


.footer-card button{
    background-color: transparent;
    border: none;
   line-height: 2rem;
    font-weight: 400;
    color:var(--text-color);
    display: flex;
    gap:1em;
    justify-content: flex-end;
    justify-self: flex-end;
}


.footer-card button:nth-child(3) {
    flex: 1;
    background-color: transparent;
}

#posts {
    display: flex;
    flex-direction: column;
    
}

#posts img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    box-shadow: 4px 4px 1px var( --bd-shadow);
}

#posts header {
    background-color: var(--bg-cards);
    border-radius: 18px;
}

